header{
    .navbar-menu{
        height: 70px;
    }
    .navbar-brand{
        color: #303030 !important;
        font-weight: 700;
        font-size: 40px;
    }
    .navbar-collapse{
        background-color: $white;
        ul{
            li{
                a{
                    color: $black;
                    font-size: 16px;
                    padding-right: 20px !important;
                    padding-left: 20px !important;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}